.footer-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #19191d;
  margin-top: 5rem;
  padding: 5rem;
}

.footer-cont h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 43px;
  width: 350px;
  margin-bottom: 1rem;
  line-height: 53px;
  /* or 102% */

  text-align: center;

  color: #ff5d79;
}
.footer-cont p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  text-align: center;
  margin-top: 3rem;

  color: #ffffff;
}

@media (max-width: 765px) {
  .footer-cont h1 {
    font-weight: 700;
    font-size: 35px;
    width: 320px;
  }
  .footer-cont p {
    font-size: 12px;
  }
}
